version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-g-wifk2_nk(a^*)qmw!ra&-ilz@4rrlix!1-1&kzi-fznq)4f_
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
    depends_on:
      - redis
    volumes:
      - ./db.sqlite3:/app/db.sqlite3

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"