{% extends "base.html" %}

{% block styles %}
<style>
    body {
        background: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}

{% block content %}
<main class="flex-grow flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md">
        <div class="bg-white py-8 px-6 border-2 border-black shadow-[3px_3px_0_0_#000] hover:-translate-y-1 rounded-lg">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold text-black">Criar conta</h2>
                <p class="text-black mt-2">Preencha os dados abaixo para se cadastrar</p>
            </div>
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="id_username" class="block text-sm font-medium text-gray-800 mb-1">Nome de
                        usuário</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-user text-gray-800"></i>
                        </div>
                        <input type="text" name="username" id="id_username" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Digite seu nome de usuário" value="{{ form.username.value|default:'' }}">
                    </div>
                </div>
                <!-- <div>
                    <label for="id_email" class="block text-sm font-medium text-gray-800 mb-1">Email</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-envelope text-gray-800"></i>
                        </div>
                        <input type="email" name="email" id="id_email" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Digite seu email" value="{{ form.email.value|default:'' }}">
                    </div>
                    {% if form.email.errors %}
                    <div class="error-message">
                        {{ form.email.errors.0 }}
                    </div>
                    {% endif %}
                </div> -->
                <div>
                    <label for="id_password1" class="block text-sm font-medium text-gray-800 mb-1">Senha</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-lock text-gray-800"></i>
                        </div>
                        <input type="password" name="password1" id="id_password1" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Digite sua senha">
                        <button type="button" id="togglePassword1"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 focus:outline-none">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <label for="id_password2" class="block text-sm font-medium text-gray-800 mb-1">Confirmar
                        senha</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <i class="fas fa-lock text-gray-800"></i>
                        </div>
                        <input type="password" name="password2" id="id_password2" required
                            class="input-field py-3 px-4 pl-10 block w-full border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-300"
                            placeholder="Confirme sua senha">
                        <button type="button" id="togglePassword2"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600 focus:outline-none">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="mt-1 text-sm text-red-600 text-center">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div>
                    <button type="submit"
                        class="w-full flex justify-center py-3 px-4 border-2 border-black shadow-[3px_3px_0_0_#000] rounded-full text-sm font-bold text-black bg-emerald-300 hover:bg-emerald-500 focus:shadow-[0px_0px_0_0_#000] focus:translate-y-1 focus:translate-x-1">
                        Criar conta
                    </button>
                </div>
            </form>

            <div class="mt-6 text-center">
                <p class="text-sm text-gray-800">
                    Já tem uma conta?
                    <a href="{% url 'login' %}" class="font-medium text-emerald-600 hover:text-emerald-500 ml-1">
                        Faça login
                    </a>
                </p>
            </div>
        </div>
    </div>
</main>
{% include 'footer.html' %}
<script>
    function setupPasswordToggle(inputId, buttonId) {
        const toggleButton = document.getElementById(buttonId);
        if (toggleButton) {
            toggleButton.addEventListener('click', function () {
                const passwordInput = document.getElementById(inputId);
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        }
    }

    setupPasswordToggle('id_password1', 'togglePassword1');
    setupPasswordToggle('id_password2', 'togglePassword2');
</script>
{% endblock %}