<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>clairo</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	{% block styles %}{% endblock %}
</head>

<body>
	<header class="bg-white text-black border-b-2 border-black">
		<div class="container mx-auto px-4 py-4">
			<div class="flex items-center justify-between">
				<div class="flex-shrink-0">
					<h1 class="text-2xl font-medium"><a href="{% url 'home'%}">clairo</a></h1>
				</div>
				<!-- Menu de Navegação -->
				<nav class="flex items-center space-x-4">
					<div class="hidden md:flex items-center space-x-2">
						{% if request.user.is_authenticated %}
						<p class="text-sm font-medium">Olá, {{ request.user.username }}!</p>
						<a href="{% url 'profile' request.user.username %}"
							class="block px-4 py-2 text-sm font-medium hover:bg-emerald-300 rounded-full">Perfil</a>
						<a href="{% url 'home' %}"
							class="block px-4 py-2 text-sm font-medium hover:bg-emerald-300 rounded-full">Conversas</a>
						<div class="relative group">
							<button class="block px-4 py-2 text-sm font-medium hover:bg-emerald-300 rounded-full flex items-center gap-1">
								Configurações
								<svg class="w-4 h-4  group-hover:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
								</svg>
							</button>
							<div class="absolute right-0 w-48 bg-white border-2 border-black rounded-lg shadow-[3px_3px_0_0_#000] opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
								<div>
									<a href="{% url 'update-password' %}" 
									class="block px-4 py-3 text-sm text-black rounded-t-lg hover:bg-emerald-300 hover:font-medium border-b border-gray-200">
										<div class="flex items-center gap-2">
											<span>Mudar nome de usuário</span>
										</div>
									</a>
									<a href="{% url 'update-password' %}" 
									class="block px-4 py-3 text-sm text-black rounded-b-lg hover:bg-emerald-300 hover:font-medium">
										<div class="flex items-center gap-2">
											<span>Mudar senha</span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<form action="{% url 'logout' %}" method="post">
							{% csrf_token %}
							<button type="submit"
								class="block px-4 py-2 text-sm font-medium hover:bg-red-600 hover:text-white hover:rounded-full text-red-600">Sair</button>
						</form>
						{% else %}
						<a href="{% url 'login' %}"
							class="px-3 py-2 text-sm font-medium hover:bg-emerald-500 rounded-full">
							Login
						</a>
						<a href="{% url 'signup' %}"
							class="px-3 py-2 text-sm font-medium bg-emerald-300 hover:bg-emerald-500 rounded-full">
							Cadastrar
						</a>
						{% endif %}
					</div>
				</nav>
			</div>
		</div>
	</header>
	{% block content %}{% endblock %}
</body>
{% block javascript %}{% endblock %}

</html>